<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-bodeguero :: head">
</head>

<!--Prueba de creacion de layout -->
<body class="bodeguero-body">
	<header th:replace="layout/layout-bodeguero :: header"> </header>

	<main>
		<section id="crear-curso">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/crear-curso.png}" height="60">
					<h3 class="card-title">Registrar factura</h3>
				</div>
				<form th:action="@{/facturas/save}" th:object="${factura}" method="post">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label>Precio Total: </label> <input type="text" class="form-control"
								th:field="*{precioTotal}" required>
						</div>
						<div class="form-group col-md-6">
							<label for="fechaInicio">Fecha de la compra</label> <input
								type="date" class="form-control" th:field="*{fechaCompra}" required>
						</div>

						<div class="form-group col-md-6">
							<label for="fechaFin">Fecha del pago</label> <input type="date"
								class="form-control" th:field="*{fechaPago}" required>
						</div>
						
						<div class="form-group col-md-12">
							<label>Medio de pago: </label> <input type="text"
								class="form-control" th:field="*{medioPago}" required>
						</div>
						
						<div class="form-group col-md-12">
							<label>Estado: </label> <input type="text" class="form-control"
								th:field="*{estado}" required>
						</div>
						<div class="form-group col-md-12">
							<label>Tipo de TEA: </label> <input type="text"
								class="form-control" th:field="*{tipoTasa}" required>
						</div>
						
						<div class="form-group col-md-12">
							<label>Valor de la tasa: </label> <input type="text" class="form-control"
								th:field="*{valorTasa}" required>
						</div>
						
						
					


					</div>
					<div class="text-center pt-5">
						<button type="submit" class="btn btn-dark mr-4">Registrar 
						Factura</button>
						<a class="btn btn btn-outline-dark" th:href="@{/clientes/}">Cancelar</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-bodeguero :: footer"></footer>
</body>
</html>