<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-bodeguero :: head">
</head>

<!--Prueba de creacion de layout -->
<body class="bodeguero-body">
	<header th:replace="layout/layout-bodeguero :: header"> </header>

	<main>
		<section id="crear-curso">
			<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/crear-curso.png}" height="60">
					<h3 class="card-title">Registrar cliente</h3>
				</div>
				<form th:action="@{/clientes/save}" th:object="${cliente}" method="post">
					<div class="form-row">
						
						
						<div class="form-group col-md-12">
							<label>Nombre y Apellidos: </label> <input type="text"
								class="form-control" th:field="*{nombreApellidos}" required>
						</div>
						
						<div class="form-group col-md-12">
							<label>Telefono: </label> <input type="text" class="form-control"
								th:field="*{telefono}" required>
						</div>
						<div class="form-group col-md-12">
							<label>email: </label> <input type="text"
								class="form-control" th:field="*{email}" required>
						</div>
						
						<div class="form-group col-md-12">
							<label>Direccion: </label> <input type="text"
								class="form-control" th:field="*{direccion}" required>
						</div>
						
						<div class="form-group col-md-12">
							<label>monto maximo que tendra para usar: </label> <input type="text" class="form-control"
								th:field="*{montoMax}" required>
						</div>
						
						
					


					</div>
					<div class="text-center pt-5">
						<button type="submit" class="btn btn-dark mr-4">Registrar 
						Cliente</button>
						<a class="btn btn btn-outline-dark" th:href="@{/clientes/}">Cancelar</a>
					</div>
				</form>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout-bodeguero :: footer"></footer>
</body>
</html>