<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-bodeguero :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-bodeguero :: header"> </header>
	
	<main>
	<section class="container">
		<div class="container jumbotron">
		
		
		
			<div class="text-center">
				<img th:src="@{/images/crear-curso.png}" height="60">
				<h3 class="card-title">Info del cliente</h3>
				
				
				
					<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">id del cliente</th>
							<th scope="col">Nombre y Apellido </th>
							<th scope="col">monto maximo permitido(deuda maxima)</th>
							<th scope="col">telefono</th>
							<th scope="col">direccion</th>
							<th scope="col">email</th>
							<th scope="col">monto actual(que debe)</th>
							
						</tr>
					</thead>
					
					<tbody>
					<tr th:each="cliente : ${clienteview}"  >
							<th th:text="${cliente.id}">.</th>
							<td><a th:href="@{'/facturas/cliente-'+ ${cliente.id}}" th:text="${cliente.nombreApellidos}">.</a></td>
							<td th:text="${cliente.montoMax}"></td>
							<th th:text="${cliente.telefono}">.</th>
							<th th:text="${cliente.direccion}">.</th>
							<th th:text="${cliente.email}">.</th>
							<th th:text="${cliente.monto}">.</th>
							
							
							
						</tr>
						
					</tbody>
					
				</table>
				
				<div class="text-center pt-5">
						<a class="btn btn-dark mr-4"
							th:href="@{/clientes/}">Regresar</a>
							
					</div>
			</div>




		</div>
		
			
		</section>
	</main>

	<footer th:replace="layout/layout-bodeguero :: footer"></footer>
</body>
</html>