<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-bodeguero :: head">
</head>

<body class="student-body">
	<header th:replace="layout/layout-bodeguero :: header"> </header>
	
	<main>
	<div class="container jumbotron">
				<div class="text-center">
					<img th:src="@{/images/crear-curso.png}" height="60">
					<h3 class="card-title">Inicio de clasificaciones</h3>
				</div>
				</div>
		<section class="container">
			
		</section>
	</main>

	<footer th:replace="layout/layout-bodeguero :: footer"></footer>
</body>
</html>